<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>BusquedasShow</display-name>
    <servlet-name>BusquedasShow</servlet-name>
    <servlet-class>com.curso.servlet.BusquedasShow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BusquedasShow</servlet-name>
    <url-pattern>/BusquedasShow</url-pattern>
  </servlet-mapping>
  <display-name>10-FinalProductosTienda</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AltasShow</display-name>
    <servlet-name>AltasShow</servlet-name>
    <servlet-class>com.curso.servlet.AltasShow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AltasShow</servlet-name>
    <url-pattern>/AltasShow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminacionShow</display-name>
    <servlet-name>EliminacionShow</servlet-name>
    <servlet-class>com.curso.servlet.EliminacionShow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminacionShow</servlet-name>
    <url-pattern>/EliminacionShow</url-pattern>
  </servlet-mapping>
</web-app>